# Node dependencies
**/node_modules
node_modules
.pnpm

# Output from builds
output
.output
dist
build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Git & version control
.git
.gitignore

# Env and configs
.env*
.env.local
.env.*.local

# Editor folders
.vscode
.idea

# OS temp files
*.swp
*.swo

# Tests (if not needed in build)
__tests__/
coverage/
*.test.*
*.spec.*

# Cache and tooling
.cache
turbo
.next
.vercel